.container {
  background: $light-grey;
  border: 1px solid $light-grey-border;
  border-radius: 5px;
  padding: 0;
  margin-bottom: 2rem;

  > :last-child {
    border-bottom: none;
  }
}

.container__message {
  padding: 1rem;
}

.container__controls {
  margin-right: 1rem;
  padding: 1rem;
  position: absolute;
  right: 0
}
