.contact {
  align-items: center;
  border-bottom: 1px solid $light-grey-border;
  cursor: pointer;
  display: flex;
  padding: 0.5rem;
  transition: background .3s ease;

  span {
    width: 23.5%;
    border: none;
  }

  > :last-child {
    width: 6%;
  }

  &:hover {
    background: #f0f0f0;

    div.contact__actions {
      display: block;
    }
  }
}

.contact__search {
  display: flex;
  justify-content: center;
  margin: 1rem;

  > :last-child {
    margin-left: 8rem;
  }
}

.contact__actions {
  display: none;

  i {
    padding: 0.4rem;
  }
}

.contact__edit__controls {
  display: flex;
  justify-content: center;

  > :first-child {
    margin-right: 1.5rem;
  }
}
