.container {
  background: $light-grey;
  border: 1px solid $light-grey-border;
  border-radius: 5px;
  padding: 0;
  margin-bottom: 2rem;
}

.container__message {
  color: $light-color;
  margin: 2rem auto;
  text-align: center;
}
